<h1>Documents</h1>
Listing all the documents (Pages or Problems)

<ul class="documents list-group">
  <li ng-repeat="document in documents" class="list-group-item">
    <div class="icon">
      <span class="glyphicon" ng-class="{ 'glyphicon-globe': document.type==='page', 'glyphicon-flash': document.type==='problem' }"></span>
    </div>
    <h2>{{document.title}} <span class="badge" ng-show="document.type==='problem' && document.score">{{document.score}}pts</span></h2>
    <div class="btn-group btn-group-sm">
      <a class="btn btn-primary" href="" ui-sref="documents.view({ id: document.id })" ng-show="document.type!=='problem'" >View</a>
      <a class="btn btn-primary" href="" ui-sref="documents.solve({ id: document.id })" ng-show="document.type==='problem'">Solve</a>
      <a class="btn btn-default" href="" ui-sref="documents.edit({ id: document.id })" >Edit</a>
      <a class="btn btn-default" href="" ng-click="remove(document)">Delete</a>
    </div>
  </li>

<div ng-show="documents.length === 0">Looks like you haven't added any documents yet?</div>
<a ng-hide="adding" ui-sref="documents.add">Add A New Document</a>
