<div class="">
  <h1><span ng-show="!document.id" >Add new</span><span ng-show="document.id">Edit</span> document</h1>
  <alert type="{{message.type}}" ng-show="message.msg">{{message.msg}}</alert>
  
  <form  name="new_document_form" role="form">
    <div class="form-group">
      <label for="title" class="col-md-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" id="title" name="title" class="form-control" ng-model="document.title" required>
      </div>
    </div>
    
    <div class="form-group">
      <label for="type" class="col-md-2 control-label">Type</label>
      <div class="col-sm-10">
        <select id="type" name="type" class="form-control" ng-model="document.type" ng-options="type for type in documentTypes">
        </select>
      </div>
    </div>
        
    <div class="form-group">
      <label for="content" class="col-md-2 control-label">Content</label>
      <div class="col-sm-10">
        <textarea id="content" name="content" class="form-control" ng-model="document.content" rows="20" required>
        </textarea>
      </div>
    </div>
    
    <div class="form-group"  ng-hide="document.type !== 'problem'">
      <label for="score" class="col-md-2 control-label">score</label>
      <div class="col-sm-10">
        <input type="text" id="score" name="score" class="form-control" ng-model="document.score">
      </div>
    </div>

    <div class="form-group" ng-hide="document.type !== 'problem'">
      <label for="final-input" class="col-md-2 control-label">Final Input</label>
      <div class="col-sm-10">
        <div class="col-sm-2 no-padding">
          <toggle-switch
                         model="switchFileInput"
                         class="switch-primary"
                         html="true"
                         on-label="<i class='glyphicon glyphicon-pencil'></i>"
                         off-label="<i class='glyphicon glyphicon-file'></i>">
          </toggle-switch>
        </div>
        <div class="col-sm-10">
          <div ng-hide="switchFileInput" ng-file-reader on-readed="onReaded( event, file, 'input' )" class="form-control fancy-hide" read-method="'readAsText'"></div>
          <textarea class="form-control" ng-model="document.attachment[0].content" rows="10" ng-hide="!switchFileInput" class="fancy-hide" ></textarea>
        </div>
      </div>
    </div>

    
    <div class="form-group" ng-hide="document.type !== 'problem'">
      <label for="final-output" class="col-md-2 control-label">Final Output</label>
      <div class="col-sm-10">
        <div class="col-sm-2 no-padding">
          <toggle-switch
                         model="switchFileOutput"
                         class="switch-primary"
                         html="true"
                         on-label="<i class='glyphicon glyphicon-pencil'></i>"
                         off-label="<i class='glyphicon glyphicon-file'></i>">
          </toggle-switch>
        </div>
        <div class="col-sm-10">
          <div ng-hide="switchFileOutput" ng-file-reader on-readed="onReaded( event, file, 'output' )" class="form-control fancy-hide" read-method="'readAsText'"></div>
          <textarea class="form-control" ng-model="document.attachment[1].content" rows="10" ng-hide="!switchFileOutput" class="fancy-hide" ></textarea>
        </div>
      </div>
    </div>
    
    
    <div class="form-group last">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="save(document)" class="btn btn-primary">Save document</button>
        <button ui-sref="documents.list" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>