// Heads up! You must do npm install and bower install
// otherwise you'll have a lot of missing dependencies
// like bootstrap

// Bootstrap base styles
@import '../vendor/bootstrap/less/bootstrap.less';

// Bootstrap theme
@import 'bootswatch.less';
@import 'variables.less';

// Our custom rules

body {
  //Because of fixed navbar
  padding: 70px;
}

#login-form {
  .input-group {
    margin-bottom: 10px;
  }
}

.form-group.last {
  position: relative;
  top: 10px;
}